<!doctype html>
<html ⚡ lang="en">
  <head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-video" src="https://cdn.ampproject.org/v0/amp-video-0.1.js"></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    <script async custom-element="amp-audio" src="https://cdn.ampproject.org/v0/amp-audio-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
    <script async custom-element="amp-sticky-ad" src="https://cdn.ampproject.org/v0/amp-sticky-ad-1.0.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-twitter" src="https://cdn.ampproject.org/v0/amp-twitter-0.1.js"></script>
    <title><%= storyInfo.storyTitle %></title>
    <link rel="canonical" href="<%= storyInfo.storyURL %>">
    <meta property="og:title" content="<%= storyInfo.storyTitle %> - 鏡週刊" >
    <meta property="og:url" content="<%= storyInfo.storyURLAMP %>">
    <meta property="og:image" content="<%= _.get(storyHeroImage, [ 'src', 'desktop' ], '') %>">
    <meta property="og:type" content="website">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "mainEntityOfPage": "<%= storyInfo.storyURLAMP %>",
        "headline": "<%= storyInfo.storyTitle %> - 鏡週刊",
        "datePublished": "<%= storyInfo.storyDatePublished.dateISO %>",
        "dateModified": "<%= storyInfo.storyDateUpdated.dateISO %>",
        "author": {
          "@type": "Organization",
          "name": "MirrorMedia"
        },
        "publisher": {
          "@type": "Organization",
          "name": "MirrorMedia",
          "logo": {
            "@type": "ImageObject",
            "url": "https://www.mirrormedia.mg/assets/mirrormedia/logo.png",
            "width": 102,
            "height": 49
          }
        },
        "image": {
          "@type": "ImageObject",
          "url": "<%= _.get(storyHeroImage, [ 'src', 'desktop' ], '') %>",
          "width": 1200
        }
      }
    </script>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>
      <%- include('styles/normalize.css') %>
      <%- include('styles/AppHeader.css') %>
      <%- include('styles/StoryComm.css') %>
      <%- include('styles/StoryHeros.css') %>
      <%- include('styles/StoryInfo.css') %>
      <%- include('styles/StoryArticle.css') %>
      <%- include('styles/StoryRelateds.css') %>
      <%- include('styles/AppFooter.css') %>
      <%- include('styles/AppAds.css') %>
      <%- include('styles/AppMatchedContent.css') %>
    </style>
  </head>
  <body>
    <%- include('components/AppAnalytics', { GA_ID, COMSCORE_C2_ID, ALEXA_ATRK_ACCT, SITE_DOMAIN }) %>
    <%- include('components/AppHeader') %>
    <article class="story-article">
      <% if (showAMPAds) { %>
        <%- include('components/AppAds', { AMPAds, pos: 'AMPHD' }) %>
      <% } %>
      <%- include('components/StoryInfo', { storyInfo }) %>
      <%- include('components/StoryHeros', { storyHeroVideo, storyHeroImage }) %>
      <%- include('components/StoryArticleBrief', { storyBriefs, storyBriefAnnotation }) %>
      <%- include('components/StoryArticleContent', { storyContent, storyContentAnnotation, storyContentFirstTwoUnstyledParagraph, showAMPAds, AMPAds }) %>
    </article>
    <%- include('components/StoryRelateds', { storyRelateds, showAMPAds, AMPAds }) %>
    <% if (showAMPAds) { %>
      <%- include('components/AppMatchedContent', { MATCHED_CONTENT_AD_CLIENT, MATCHED_CONTENT_AD_SLOT }) %>
    <% } %>
    <% if (showAMPAds) { %>
      <%- include('components/AppAds', { AMPAds, pos: 'AMPFT' }) %>
    <% } %>
    <%- include('components/AppFooter', { storyInfo }) %>
    <% if (showAMPAds) { %>
      <%- include('components/AppAdSticky', { AMPAds, pos: 'AMPST' }) %>
    <% } %>
  </body>
</html>